<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
       
        <p class="text-muted small mb-4 mb-lg-0">&copy; Jelveh Sanat. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
       
      </div>
    </div>
  </div>
</footer>