<!-- App core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/reload/reload.js"></script>

<script>
    $(document).ready(function(){
        $('input[name="id"]').focus();
    });
    $('#id').submit(function(e){
        e.preventDefault();        
        $('#options').removeClass('d-none');
        $('#options').addClass('d-block');
        window.scrollBy(0, 500);
        
    });

    $('.icon-user').click(function(e){
        e.preventDefault();
        var linkedin_id = $('input[name="id"]').val();
        if(linkedin_id.length == 0){
            alert('You must fill out linkedin field !!');
            $('input[name="id"]').focus();
        } else {
            window.open('/api/ln/about/'+linkedin_id);
        }
            
    });
</script>