<!DOCTYPE html>
<html lang="en">

  <head><% include partials/template/head.ejs %></head>

  <body>
    <% include partials/template/header.ejs %>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex pointer">
                <i class="icon-user m-auto text-primary"></i>
              </div>
              <h3>About Info</h3>
              <p class="lead mb-0">To Fetch About info of this person click the above icon</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-book-open m-auto text-primary pointer"></i>
              </div>
              <h3>Education</h3>
              <p class="lead mb-0">To Fetch Education info of this person click the above icon</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-briefcase m-auto text-primary pointer"></i>
              </div>
              <h3>Experience</h3>
              <p class="lead mb-0">To Fetch xperience info of this person click the above icon</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>

</html>
